/* Fonts */

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff') format('woff'),
       url('../fonts/ptsans.woff2') format('woff2')
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff') format('woff'),
       url('../fonts/ptsansbold.woff2') format('woff2')
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona.woff') format('woff'),
       url('../fonts/symbols-sedona.woff2') format('woff2');
}

[class^='icon-']::before,
[class*=' icon-']::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: 'symbols-sedona';
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: '\66'; } /* 'f' */
.icon-twitter::before { content: '\74'; } /* 't' */
.icon-up-dir::before { content: '\25b2'; } /* '▲' */
.icon-down-dir::before { content: '\25bc'; } /* '▼' */
.icon-star::before { content: '\2605'; } /* '★' */
.icon-check-off::before { content: '\2610'; } /* '☐' */
.icon-check-on::before { content: '\2611'; } /* '☑' */
.icon-calendar::before { content: '\e800'; } /* '' */
.icon-plus::before { content: '\e801'; } /* '' */
.icon-minus::before { content: '\e802'; } /* '' */
.icon-youtube::before { content: '\f39e'; } /* '' */

/* Base and typography */

body {
  min-width: 768px;
  font-family: 'PT Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
}

/* Header layout */

.main-header {
  outline: 1px solid red;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 6%;
  outline: 1px solid red;
}

.main-nav__item {
  width: 22.73%;
  outline: 1px solid red;
}

.main-nav__item_center {
  width: 9.08%;
}

.main-nav__item_right {
  text-align: right;
}

/* Promo layout */

.promo {
  width: 100%;
  min-height: 510px;
  background:
    url(../img/bg_mask.png) no-repeat scroll 50% 100% / 100% 57px,
    #bababa url(../img/bg_index.jpg) no-repeat 0 30% / cover;
}

.promo__wrapper {
  padding: 75px 0;
}

.promo__item {
  margin: 0 auto 45px;
  text-align: center;
}

.promo__item:last-of-type {
  margin-bottom: 0;
}
